<a href="https://colab.research.google.com/github/Annfreedajoy/REVISION/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [3]:
x=10
while x>0:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [14]:
x=0
a=0
while x<10:
  a=a+x
  x=x+1
  print(a)

0
1
3
6
10
15
21
28
36
45

In [31]:
x=int(input("enter a number"))
y=1
a=1
while y<x :
   a=a*x
   y=y+1
print(a)

enter a number10
1000000000

In [34]:
x=0
while x<10:
   x=x+1
   if x==5:
     break;
   print(x)

1
2
3
4

In [35]:
x=0
while x<10:
   x=x+1
   if x==5:
     continue;
   print(x)

1
2
3
4
6
7
8
9
10

In [38]:
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [42]:
a=0
x=0
for x in range(101):
  a=a+x
  x=x+1
  print(a)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [43]:
for x in range(100):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [44]:
x="ann freeda"
for a in x:
  print(a)

a
n
n

f
r
e
e
d
a

In [48]:
x= input("enter your full name ;")
for a in x:
  if a==" ":
    break;
  print (a)

enter your full name ;ann freeda
a
n
n