In [5]:
x=int(input("Enter your marks"))

Enter your marks50

In [7]:
if x>50 :
   print ("You are pass")
if x<50 :
   print ("You are failed")
if x==50 :
   print ("You just passed")1

You just passed

In [8]:
x=int(input("Enter your salary"))

Enter your salary500000

In [9]:
if x>250000 :
   print ("You are taxable")
if x<250000 :
   print ("You are not taxable")

You are taxable

In [10]:
x=int(input("Enter your salary"))

Enter your salary300000

In [14]:
if x>250000 :
   print ("You are taxable")
   print ((x-250000)*10/100)
if x<250000 :
   print ("You are not taxable")

You are taxable
5000.0

In [36]:
x=int(input("Enter your salary"))
if x<=50000 :
   print ("not taxable")
if x<=500000 and x<250000 :
   print ("taxable")
   print("tax:", (x-50000)*10/100+(500000-250000)*10/100)
if x<=750000 and x<500000:
   print ("taxable")
   print("tax:", ((x-750000)*15/100)+((500000-250000)*10/100)+((750000-500000)*15/100)) 
if x<=1000000 and x<500000:
   print ("taxable")
   print("tax:", ((x-1000000)*20/100)+((500000-250000)*10/100)+((750000-500000)*15/100)+((1000000-750000)*20/100))
if x<=1500000 and x<1000000:
   print ("taxable")
   print("tax:", ((x-1500000)*25/100)+((500000-250000)*10/100)+((750000-500000)*15/100)+((1000000-750000)*20/100)+((1500000-1000000)*25/100))

Enter your salary800000
taxable
tax: 62500.0